[submodule "crazyflie-firmware"]
	path = crazyflie-firmware
	url = https://github.com/pPatrickK/crazyflie-firmware.git
	branch = flw
[submodule "crazyflie-lib-python"]
	path = crazyflie-lib-python
	url = https://github.com/pPatrickK/crazyflie-lib-python.git
	branch = flw
[submodule "crazyflie-clients-python"]
	path = crazyflie-clients-python
	url = https://github.com/bitcraze/crazyflie-clients-python.git
	branch = develop
[submodule "crazyradio-firmware"]
	path = crazyradio-firmware
	url = https://github.com/pPatrickK/crazyradio-firmware.git
	branch=flw
[submodule "crazyflie2-nrf-firmware"]
	path = crazyflie2-nrf-firmware
	url = https://github.com/pPatrickK/crazyflie2-nrf-firmware.git
	branch=flw
[submodule "ros_ws/src/externalDependencies/libobjecttracker"]
	path = ros_ws/src/externalDependencies/libobjecttracker
	url = https://github.com/pPatrickK/libobjecttracker
[submodule "ros_ws/src/externalDependencies/libmotioncapture"]
	path = ros_ws/src/externalDependencies/libmotioncapture
	url = https://github.com/pPatrickK/libmotioncapture.git
	branch = flw
[submodule "ros_ws/src/crazyflie_ros"]
	path = ros_ws/src/crazyflie_ros
	url = https://github.com/pPatrickK/crazyflie_ros.git
	branch=flw
[submodule "ros_ws/src/crazyswarm/scripts/DroneCommander"]
	path = ros_ws/src/crazyswarm/scripts/DroneCommander
	url = https://github.com/pPatrickK/DroneCommander.git
